extends layout

block header
    h2(class='col-md-8', style="text-align:left;width:auto;height:auto")= title

block content
    h6(class='col-md-12', style="clear:both") In this screen, you can evaluate the selection and ranking of entities. Please select at maximum 5 words that best describe the document displayed below.
    h6(class='col-md-12', style="clear:both")#counter You have currently selected 0 words. 
    #wrapper(class='col-md-12')
        #tags(class='col-md-4')
            ul#taglist
        #email(class='col-md-8 well')
        #buttons(class='col-md-12 btn-group', style="margin-bottom:75px")
            button(class='btn btn-default', onClick='window.location="/overview"')
                span(class="glyphicon glyphicon-home", aria-hidden="true",style="clear:both") 
                text(style="clear:both")  Home
            button#idNextEntitySelection(class='btn btn-primary')
                span(class="glyphicon glyphicon-ok", aria-hidden="true",style="clear:both") 
                text(style="clear:both")  Next
