extends layout

block header
    h1(class='col-md-8', style="text-align:left;width:auto;height:auto") Topic Label Relation: Label Mode

block content
    a(class='col-md-12', href='/overview') GO BACK TO OVERVIEW
    p(class='col-md-12', style="clear:both")  In this screen, you can evaluate the topic-label relation. Please select the list of terms that best fit to the label displayed below.
    #label(class='col-md-12')
    #termscol1(class='col-md-4 well')
        h3 Option 1:
        #terms1(class="termbox")
    #termscol2(class='col-md-4 well')
        h3 Option 2:
        #terms2(class="termbox")
    #termscol3(class='col-md-4 well')
        h3 Option 3:
        #terms3(class="termbox")
    #buttons(class='col-md-12', style="margin-bottom:75px")
        button#logout(onClick='logout()', class='btn btn-default') Logout
        button(onClick='window.location="/topicLabel"', class='btn btn-primary') Go to Term Mode
        button#idNextLabelTopic(class='btn btn-primary') Next
