extends layout

block header
    h1(class='col-md-8', style="text-align:left;width:auto;height:auto")= title

block content
    a(class='col-md-12', href='/overview') GO BACK TO OVERVIEW
    p Statistics ...
