extends layout

block header
    h2(class='col-md-8', style="text-align:left;width:auto;height:auto") Topic Label Relation: Term Mode

block content
    h6(class='col-md-12', style="clear:both")  In this screen, you can evaluate the topic-label relation. Please select the label that best describes the topic displayed below.
    #label1(class='col-md-4 labelOption')
    #label2(class='col-md-4 labelOption')
    #label3(class='col-md-4 labelOption')
    #terms(class='col-md-12 well')
    #buttons(class='col-md-12 btn-group', style="margin-bottom:75px")
        button(class='btn btn-default', onClick='window.location="/overview"')
            span(class="glyphicon glyphicon-home", aria-hidden="true") 
            text  Home
        button(onClick='window.location="/labelTopic"', class='btn btn-default')
            span(class="glyphicon glyphicon-transfer", aria-hidden="true") 
            text  Label Mode
        button#idNextTopicLabel(class='btn btn-primary')
            span(class="glyphicon glyphicon-ok", aria-hidden="true") 
            text  Next
