#email {
    height: 460px;
    white-space: pre-wrap;
    overflow: scroll;
}

#tags{
    height: 460px;
    text-align: center;
}
 
.tag{ 
    font-size:1.2em; 
    line-height:1em; 
}
 
#tags a{ 
    color: #000000;
}

#tags a:hover{ 
    color: #0d87e9;
    cursor: pointer;
    text-decoration: none;
}

#taglist {
    list-style: none;
    padding-top: 50px;
}