.termbox a{ 
    color: #000000;
}

.termbox a:hover{ 
    color: #18bc9c;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

.labelOption a:hover{ 
    color: #18bc9c;
    cursor: pointer;
    text-decoration: none;
}

.labelOption a{ 
    color: #000000;
}
